*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #336699;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

header img{
    width: 72px;
    height: 30px;
}

.cart{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.cart a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.cart a:hover{
    color: red;
}

main{
    display: flex;
    justify-content: center;
}

.menu-level-1{
    list-style: none;
    
}

.menu-level-1 > li{
    position: relative;  
}

.menu-level-1 > li > a{
    text-decoration: none;
    text-align: start;
    display: block;
    padding: 10px 15px;
    color: black;
    border: 1px solid rgb(150, 150, 154);
    width: 200px;
    font-weight: bold;
}

.menu-level-1 > li > a:hover{
    color: #336699;
}

.menu-level-2{
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    list-style: none;
}

.menu-level-2 > li > a{
    text-decoration: none;
    text-align: start;
    display: block;
    padding: 10px 15px;
    color: black;
    border: 1px solid rgb(150, 150, 154);
    width: 200px;
}

.menu-level-2 > li > a:hover{
    color: #336699;
}

.menu-level-1 > li:hover .menu-level-2{
    display: block;
}

.h-content{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.productList{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item{
    width: 240px;
    text-align: center;
}

.product-price{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}

.price{
    color: red;
}

.product-price > img{
    width: 16px;
    height: 16px;
    position: relative;
}

.product-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    display: none;
}

.product-item:hover .product-hover{
    display: block;
}

form{
    margin-top: 32px;
    border: 1px solid rgb(150, 150, 154);
    max-width: fit-content;
}


