*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: rgb(247, 168, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.menu>ul{
    display: flex;
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    padding:10px 40px;
    display: block;
    font-weight: bold;
}
.menu ul li a:hover{
    background-color: brown;
}
.sidebar{
    width: 20%;
    background-color: aliceblue;
    margin-top:20px;
}
.sidebar ul{
    list-style-type: none;
}
.sidebar ul li a{
    text-decoration: none;
    padding-left: 20px;
    color: black;
    width: 100%;
    border:1px dotted grey;
    line-height:40px;
    display: block;
}
.sidebar ul li a:hover{
    background-color: brown;
}
.cha{
    position: relative;
}
.con{
    position: absolute;
    width:250px;
    left:100%;
    top:0px;
    display: none;
    z-index: 100;
    background-color: aliceblue;
}
.cha:hover .con{
    display:block;
}
.sidebar h3{
    background-color: rgb(214, 136, 149);
    color:black;
    padding-left:20px;
    line-height: 30px;
}
.container{
    display:flex;
}
.center{
    width: 80%;
    display: flex;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color:rgb(226, 131, 147);
    color: white;
  }
.product img{
    width: 70px;
    height:100px;
}
.right{
    padding:20px;
    width:250px;
}
.right h3{
    margin-bottom: 20px;
    font-size:15px;
}
.infor h4 {
    font-size: 14px;
    color: #333;
  }
  
.infor p {
    color: #d81b60;
    font-weight: bold;
    font-size: 13px;
  }
.product {
    display: flex;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    width: 180px;
}
