*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 450px; 
    display: flex;
    justify-content: center;
    align-items: flex-end;   
    padding-bottom: 50px;
}

button{
    color: #ffffff;
    background-color: red;
    height: 36px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
    background-color: black;
    height: 32px;
    margin-bottom: 12px;
}

a{
    margin-left: 12px;
    color: #ffffff;
    font-size: 16px;
}

img{
    width: 300px;
    float: left;
    margin-right: 20px;
}

p{
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    height: 32px;
}
