* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-image: url('header.png');
    background-position: center;
    background-repeat: none;
    display: flex;
    justify-content: space-evenly;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
}

.info h1 {
    color: #0033cc;
}

.info p{
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0033cc;
    height: 48px;
}

.header-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav li a {
    min-width: 200px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: block;
}

.header-nav li a:hover {
    background-color: #0059ff;
}

.language img{
    height: 24px;
}

main{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-level-1{
    list-style: none;
}

.menu-level-1 > li{
    position: relative;
}

.menu-level-1 > li > a{
    width: 240px;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    background-color: #33ffff;
    color: white;
}

.menu-level-1 > li > a:hover{
    color: yellow;
}

.menu-level-2{
    display: none;
    position: absolute;
    list-style: none;
    top: 0;
    left: 240px;
    min-width: 200px;
}

.menu-level-2 li a{
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    background-color: #33ffff;
    color: white;
}

.menu-level-2 li a:hover{
    color: yellow;
}

.menu-level-1 li:hover .menu-level-2{
    display: block;
}

.content{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.left{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.right{
    display: flex;
    flex-wrap: wrap;
}

.right .item{
    width: 300px;
    margin: 10px;
    text-align: center;
}

.title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
}

.title:hover{
    color: red;
}

.contact{
    height: 24px;
    margin-top: 8px;
    color:#0033cc
}

.contact:hover{
    color: black;
    background-color: green;
}

.item img{
    width: 100%;
    height: 200px;
}

form{
    margin: 32px;
    width: 300px;
    align-items: center;
}