*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding-top: 20px;
    padding-left: 12px;
    gap: 12px;
}

.menu-cap-1{
    display: flex;
    list-style: none;
}

.menu-cap-1 > li{
    position: relative;
}

.menu-cap-1 > li > a{
    text-align: center;
    height: 60px;
    padding: 18px 12px;
    text-decoration: none;
    list-style: none;
    color: black;
    min-width: 200px;
    display: block;
}

.menu-cap-1 > li > a:hover{
    background-color: #0e4b8a;
    color: white;
}

.menu-cap-2{
    display: none;
    position: absolute;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 200px;
}

.menu-cap-2 li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 12px;
    color: black;
}

.menu-cap-2 li a:hover{
    background-color: #0e4b8a;
    color: white;
}

.menu-cap-1 li:hover .menu-cap-2{
    display: block;
}

section{
    padding-left: 16px;
}

h1{
    color: rgb(23, 23, 63);
}

.gioithieu{
    margin: 24px 0;
}

.pic{
    display: flex;
    gap: 12px;
}

.pic img{
    width: 100px;
    height: 30px;
}

footer{
    background-color: rgb(2, 2, 100);
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    color: white;
    padding-top: 12px;
}

h2{
    margin-bottom: 10px;
}
