* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #0099ff;
    padding: 8px 10px;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.right {
    display: flex;
    margin: auto;
}

.left img {
    width: 150px;
    height: 70px;
}

.left p:hover {
    color: #ff3300;
}

.country {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto 48px;
    padding: 8px 10px;
    background-color: #327daf;
    color: white;
    border: 1px solid #c4d5e0;
}

.country img {
    width: 30px;
    height: 30px;
}

.menu-level-1 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #327daf;
    margin-top: 12px;
}

.menu-level-1>li {
    position: relative;
}

.menu-level-1>li>a {
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 15px;
}

.menu-level-1>li>a:hover {
    background-color: #1295d5;
    color: #ffff33;
}

.menu-level-2 {
    background-color: white;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    border: 1px solid #327daf;
    width: 200px;
}

.menu-level-2 li a {
    display: block;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 15px;
}

.menu-level-2>li>a:hover {
    background-color: #1295d5;
}

.menu-level-1 li:hover .menu-level-2 {
    display: block;
}

main h3 {
    color: white;
    background-color: #0099ff;
    padding: 12px 8px;
}

.choice {
    display: flex;
    gap: 24px;
    padding: 12px 8px;
}

.productList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 8px;
}

.product {
    width: calc(80% / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    padding: 24px 12px;
}

.product img {
    width: 100px;
    margin: 0 auto;
}

.product p{
    margin: 8px 0;
    color: black;
    font-weight: bold;
    text-align: center;
}

.contact{
    color: red !important;
}

form{
    width: max-content;
    background-color: #cfdce5;
    padding: 12px 12px;
    margin: 32px auto;
    border: 3px dotted #1295d5;
}

button{
    background-color: #327daf;
    margin-top: 12px;
    padding: 2px 20px;
    border: none;
}