*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-cap-1{
    display: flex;
    padding-top: 12px;
    list-style: none;
}

.menu-cap-1 > li{
    position: relative;
}

.menu-cap-1 > li > a{
    display: block;
    height: 60px;
    padding: 15px 12px;
    min-width: 200px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.menu-cap-1 > li > a:hover{
    background-color: #0e4b82;
    color: white;
}

.menu-cap-2{
    display: none;
    position: absolute;
    list-style: none;
    top: 100%;
    left: 0;
}

.menu-cap-2 > li > a{
    display: block;
    text-decoration: none;
    height: 60px;
    padding: 20px 12px;
    min-width: 200px;
    color: black;
}

.menu-cap-2 li a:hover{
    background-color: #0e4b82;
    color: white;
}

.menu-cap-1 li:hover .menu-cap-2{
    display: block;
}
